<section id="list-container">
  <app-note-preview></app-note-preview>

  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>
  <app-note-preview></app-note-preview>

</section>
